<div class="container-fluid topnav">
  <div class="nav-inner">
    <div class="logo">
      <img src="/assets/HTK logo (2).png">
    </div>
    <div class="statement" style="color: rgba(30, 30, 171, 0.836);">
      makes everything easier and reliable
    </div>
    <div class="nav1">
      <ul>
        <a class="active" routerLink="Home">Home <i class="fas fa-home"></i></a>
        <a routerLink="About">About <i class="fas fa-marker"></i></a>
        <a routerLink="Careers">careers</a>
        <a routerLink="contactus">Contactus <i class="fas fa-phone"></i></a>
      </ul>
    </div>
  </div>
</div>
